@charset "utf-8";
*{margin: 0;padding: 0;}
@font-face {
  font-family: 'weathers';
  src: url('font/weathers.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'RUNNINGS';
  src: url('font/RUNNINGS.TTF') format('truetype'); 
  }
@font-face {
  font-family: 'ZOMBIE';
  src: url('font/ZOMBIE.TTF') format('truetype');
}
#backpic{
	position: fixed;
	z-index: -1;
	margin-left: -15px;
}
#roundpic{
	position: absolute;
	top: 410px;
	left: 240px;
	z-index: 1;
}
nav ul li{
	font-family:"ZOMBIE";
	font-size: 40px;
	list-style-type: none;
	position: fixed;
	top:100px;
	left: 100px;
	color: black;
	z-index:2;
	background-color:transparent;
}
nav ul li:hover{
	color:#6A6666;
	transition: .5s;
}
#name{
	position: relative;
}
#name h1{
	position: absolute;
	top: 250px;
	left: 260px;
	font-family: "RUNNINGS";
	text-shadow: 2px 2px 6px #ccc;
	margin: 20px;
	text-align: center;
	font-size: 80px;
	color:black;
}
#name h2{
	position: absolute;
	top: 400px;
	left: 470px;
	text-shadow: 2px 2px 4px #ccc;
	text-align: center;
	font-size: 40px;
	color: black;
}
/*SlideShow*/
* {box-sizing:border-box}
.slideshow-container {
	z-index: 0;
	width: auto;
	position: relative;
	margin:auto;	
	top: 680px;
}
.mySlides {
    display: none;
}
.slide1{
	width: 1349px;
	height: 600px;
	background-color: rgba(157,157,157,.8);
}
.slide1 h1{
	position: absolute;
	top: 200px;
	left: 140px;
}
.slide2{
	width: 1349px;
	height: 600px;
	background-color: rgba(157,157,157,.8);
}
.slide2 h1{
	position: absolute;
	top: 200px;
	left: 150px;
}
.slide3{
	position: relative;
	width: 1349px;
	height: 600px;
	background-color: rgba(157,157,157,.8);
}
.slide3 h1{
	position: absolute;
	top: 200px;
	left: 150px;
}
.slide3 ul li{
	list-style-type: none;
	color: black;
	display: inline;
}
.slide1,.slide2 .row{
	padding-left: 50px;
}
.slide1 .row .col-sm-6{
	margin-top: 200px;
	padding: 100px;
}
.slide2 .row .col-sm-4{
	margin-top: 200px;
	padding: 100px;
}
.prev{
  	cursor: pointer;
  	position: absolute;
	margin-top: -350px;
  	color: red;
	padding: 16px;
  	font-weight: bold;
  	font-size: 18px;
  	transition: 1s ease;
  	border-radius: 0 3px 3px 0;
}
.prev:hover{
  background:-webkit-linear-gradient(right,black, #ccc);
}
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}
@-webkit-keyframes fade {
  from {opacity: .4;}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
section{
	position: relative;
	top:710px;
	padding: 50px;
	left: 15px;
	width: 1318px;
	height: 610px;
	margin-bottom: 30px;
	background-color: rgba(157,157,157,.8);
}
/*End of SlideShow*/
footer {
  	position: absolute;
  	top: 2000px;
  	width: 100%;
  	height: 150px;
	right: 0px;
  	background-color: rgba(157,157,157,1);
  	text-align: left;  
	padding: 50px;
}
.fa-gitlab {
    color: #000000;
    transition: 1s;
    -webkit-transition: 1s;
}

.fa-telegram {
    color: #000000;
    transition: 1s;
    -webkit-transition: 1s;
}
.fa-twitter {
    color: #000000;
    transition: 1s;
    -webkit-transition: 1s;
}

.fa-linkedin {
    color: #000000;
    transition: 1s;
    -webkit-transition: 1s;
}

.fa {
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}

.fa:hover{
    opacity: 0.5;
    transition: 1s;
    -webkit-transition: 1s;
}
#phone:hover{
	transition: 0.5s;
}

.calendar{
	margin-top: 200px;
	background-color:silver;
	height: 150px;
	width: 150px;
	border-radius:50%;
}